@{
    ViewBag.Title = "Cancel";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
</head>
<body>
  <section>
    <p>Did you forget something? Browse around then come back to pay when you find what you are looking for!</p>
  </section>
</body>
</html>