@using mnacr22.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "Home";
}

<script src="https://js.stripe.com/v3/"></script>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">


<div class="container m-50">
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="mt-5">
                <h1 class="display-4">PrivatePark<img style="width: 2em; padding-left: 0.2em; margin-bottom: 0.4em" src="~/Icons/logo_dark.svg" alt="Logo"/></h1>
                <h5 class="mb-4">We help you find the closest parking</h5>
                
                <div>
                    <div class="search-bar">
                        <input class="search-input" id="sok" type="text" name="sok" placeholder="Address, Place or City">
                        <button class="buttons logo" id="sokbutton" type="submit"><img src="~/Icons/search.svg"/></button>

                        <input class="buttons dropdown dropdown-toggle logo" type="image" data-bs-toggle="dropdown" src="~/Icons/filter.svg"/>
                        <ul class="dropdown-menu prevent-select" id="myDropdown">
                            <li class="dropdown-item">
                                <input type="checkbox" value="Availability" class="filter" id="available">
                                <label for="filter1">Available</label>
                            </li>
                            <li class="dropdown-item">
                                <input type="checkbox" value="Handicap" class="filter" id="handicap">
                                <label for="filter2">Handicap</label>
                            </li>
                            <li class="dropdown-item">
                                <input type="checkbox" value="El-Car" class="filter" id="el-car">
                                <label for="filter3">El-Car</label>
                            </li>
                            <li class="dropdown-item">
                                <input type="checkbox" value="Garage" class="filter" id="garage">
                                <label for="filter4">Garage</label>
                            </li>
                            <li>
                                <label class="CheckboxContainer">ASRock
                                    <input type="checkbox" class="HiddenCheckbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <input type="submit" id ="currentposition" value="Current Location">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-8">
            <div class="rounded" id="map"></div>
            <script type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=@ApiKey.apikey()&libraries=places">
            </script>
        </div>
    </div>

</div>

<div class="container">
    <div class="col-sm mt-5">
        <h3>What is PrivatePark</h3>
        <!-- fant dette et sted vv -->
        <p>
            PrivatePark is a platform that connects people who have parking spaces with people who need parking
            spaces. With just a few clicks, you can search for available parking based on location, price, 
            and availability, and easily make a reservation and pay online. Whether you're looking for long-term 
            parking or just need a place to park for a few hours, our website makes it easy to find the right space 
            for your needs. Plus, our user-friendly interface and secure payment system ensure that the entire 
            process is fast, easy, and hassle-free.
        </p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="container-fluid p-4 text-center">
        <h2>How PrivatePark Works</h2>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img alt="Map" class="rounded" style="margin-bottom: 1em" width="300em"
                 src="https://img.freepik.com/free-photo/travel-concept-with-map-background_23-2147982089.jpg?w=1380&t=st=1668520589~exp=1668521189~hmac=8eae2379f3dc28bb06451903619cd217aedbdf5fa7b5f9651ed9d48da1fbc9c5">
            <h3>Search</h3>
            <p>Searching provides an easy way to <b>find</b> parking spaces in the city.            
                </p>
        </div>
        <div class="col-sm-4">
            <img alt="Calendar" class="rounded mb-3" width="300em"
                 src="https://img.freepik.com/free-photo/businessman-marking-calendar-appointment_53876-14778.jpg?w=1380&t=st=1668520667~exp=1668521267~hmac=6c1eac16c5ecf2c146394ad51fbb6b654b6e1c3ffdc000720118e8c41f284113">
            <h3>Book</h3>
            <p>Booking gives you the opportunity to <b>reserve</b> a parking space in advance. 
            </p>
        </div>
        <div class="col-sm-4">
            <img alt="Parkinglot" class="rounded mb-3" style="margin-bottom: 1em" width="300em"
                 src="https://images.pexels.com/photos/1004409/pexels-photo-1004409.jpeg?cs=srgb&dl=pexels-pok-rie-1004409.jpg&fm=jpg&_gl=1*hwlck0*_ga*OTA3MjQzNzI0LjE2Njg1MTk4MDI.*_ga_8JE65Q40S6*MTY2ODUxOTgwMi4xLjEuMTY2ODUxOTgyNS4wLjAuMA..">
            <h3>Park</h3>
            <p>PrivatePark provides the opportunity to <b>park</b> the car safely and securely.
            </p>
        </div>
    </div>
</div>

<div class="container mb-5 ">
    <h2>PrivatePark</h2>
    <p style="margin-bottom: 1em">
        Our parking website, PrivatePark, is a platform that connects people who have extra parking spaces with those who are in need of a place to park. With our website, it's easy to find available parking spaces in your area and reserve them for a specific time. You can search for parking based on location, price, and availability, and once you've found a space that meets your needs, you can make a reservation and securely pay online. Once your reservation is complete, you'll receive a confirmation email and a receipt for your purchase. If you need to cancel your reservation for any reason, you can do so easily through our website. Overall, PrivatePark offers a simple and convenient way to find and book parking spaces.
    </p>
</div>

<br>

</body>

