@model Address
@{
    ViewData["Title"] = "AddressV";
}

<form id ="Blog" method="post"> 
        
        
    <label asp-for="Street"></label>
    <input id="Title" asp-for="ZiptCode"/>
            
    <label asp-for="ZiptCode"></label>
    <textarea id = "Content" asp-for="ZiptCode"></textarea>
        
    <label asp-for="City"></label>
    <textarea id = "City" asp-for="City"></textarea>
    <button type="submit" id="submit" >Save</button>
            
</form>