@{
    ViewBag.Title = "Messages";
    Layout = "_Layout";
}

@using (Html.BeginForm("Action", "Chat", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <div>Enter email of user to chat with</div>
            <div class="form-floating">
                <input id="username" name="username" type="text" class="form-control"/>
                <span class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Find/start chat</button>
        </div>
    </div> 
}


