@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Identity
@using mnacr22.Areas.Identity.Pages.Account.Manage
@model YourCarsModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Manage your cars";
    ViewData["ActivePage"] = ManageNavPages.YourCars;
}

<h3>@ViewData["Title"]</h3>

@foreach (var user in Model.DisplayCars)
{
    <div class="row">
        <div class="col-md-6">
            <form id="edit-car-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div><input type="hidden" value="@user.Id" asp-for="Input.Id"/></div>
                <div class="form-floating">
                    <input asp-for="Input.RegistrationNumber" value="@user.RegistrationNumber" class="form-control" readonly/>
                    <label asp-for="Input.RegistrationNumber" class="form-label" readonly></label>
                    <span asp-validation-for="Input.RegistrationNumber" class="text-danger" readonly></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.CarType" class="form-control" value="@user.CarType" readonly/>
                    <label asp-for="Input.CarType" class="form-label" readonly></label>
                    <span asp-validation-for="Input.CarType" class="text-danger" readonly></span>
                </div>
                <input id="delete-profile-button" type="submit" class="btn-danger" name="buttonType" value="Delete"/>
            </form>
            <div><p></p></div>
        </div>
    </div>
}
