

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<div class="text-center">
    <div id="great">
        <h1>Real madrid</h1>
        <form>
            <input class = "form-control" placeholder="search" type="search" >
            <input type="submit" class="btn">
        </form>
    
        </div>
    <div class="col-sm-6" id="left">
        <h1 id="tittel">Cr 7</h1>
        
        
        <p id = "about"> <img id = "picc"src="pic/Cristiano-Ronaldo-3.jpg"/><strong>Cristiano Ronaldo</strong> dos Santos Aveiro (født 5. februar 1985) er en portugisisk fotballspiller
            som spiller for den engelske klubben Manchester United. Han er også kaptein for det portugisiske landslaget. 
            Han spiller hovedsakelig ving, og kan benyttes på begge kanter. Han har også til tider spilt sentralt som offensiv 
            midtbanespiller eller hengende spiss. Han spilte for Sporting Clube de Portugal til 2003, for Manchester United 2003–2009 og
            for Real Madrid 2009–2018. Ronaldo regnes av mange som en av verdens beste spillere.[6][7][8] Cristiano Ronaldo er tildelt Gullballen fem ganger 
            (2008, 2013, 2014, 2016 og 2017) og er kåret<em>til FIFA World Player of the</em>  Year de samme årene – i 2013 og 2014 var de to trofeene slått sammen. Begge t
            ildeles Årets spiller i verden.
            andre spillere   <ol id = "gold">
                <li>2016</li>
                <li>2017</li>
                <li>2018</li>
                <li>2019</li>
                <li>2020</li>
                           
            </ol></p>
        <h3 class = "Other">Other plyers</h3>
        <table class="table">
            <thead>
            <tr class="info">
                <th>First name</th>
                <th>last  name</th>
            </tr>
            </thead>
            <tbody>
            <tr class = "Danger">
                <td>karim</td>
                <td>Benzema</td>

            </tr>
            <tr class = "Danger">
            <td>isco</td>
            <td>Kros </td>
            
            </
            
            </tbody>

        </table>
        
        
        

    </div>
    <div class="col-sm-6" id="raghit">
        <h2 id="plyers">Santiago Bernabéu</h2>
        <p id = "satduim">The Santiago Bernabéu Stadium is a football stadium in Madrid, Spain. With a current seating capacity of 81,044, it has been the home stadium of Real Madrid since its completion in 1947. It is the second-largest stadium in Spain and third-largest home to a top-flight European club after Camp Nou and Westfalenstadion.</p>
        <h3>Trophy</h3>
        <p id = "trophy">The Santiago Bernabéu Trophy (Spanish: Trofeo Santiago Bernabéu) is dedicated to the memory of long-time Real Madrid president Santiago Bernabéu. It is a friendly tournament organised each year by Real Madrid at the beginning of the season, somewhere around the end of August or the beginning of September.
                         
            From 1979 to 1982, in 1984 and in 1986 it was contested by four teams, with semifinals, third place match and final. In 1983, 1985 and since 1987 only one match between Real Madrid and an invited team was played.</p>
        <h3>Manager</h3>
        <p>
            (CNN) Carlo Ancelotti has returned to Real Madrid to become the club's new manager for the second time in his career. He succeeds Zinedine Zidane at the helm of the club, after the former Real player left as manager for the second time last week.  
        </p>
        <ul>
          <li>Zidan</li>
          <li>Moriniho</li>
          <li>Algeri</li>
        </ul>
        
        
    </div>
</div>
