#picc{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    float: right;
    position: center;
    vertical-align: top;
    margin-right: 15px;
    border-radius: 50%;
}

p{
    font-family: "Times New Roman";
    font-size: 20px;
    float: right;
    text-align: left;

}

.Other{font-size: 30px


}

